In [120]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
from time import time
from sklearn import metrics
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [96]:
df = pd.read_csv('adult.csv')
df.head(5)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [133]:
def labels(y):
    label = []
    for i in y:
        if i=='<=50K':
            label.append([0])
        else:
            label.append([1])
    return label

def convert(data):
    data = convertSex(data)
    return data

def convertSex(data):
    for i in range (len(data)):
        if data[i][4]=='Female':
            data[i][4] = 0
        else:
            data[i][4] = 1
    return data

def metric(y,pred):
    avg = 'weighted'
    print('Precision score = ',metrics.precision_score(y, pred, average=avg))
    print('Recall score = ',metrics.recall_score(y, pred, average=avg))
    print('f1-score = ',metrics.f1_score(y, pred, average=avg))

In [134]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
       'income'],
      dtype='object')

In [135]:
x = df[['age','fnlwgt','education.num','hours.per.week','sex','capital.loss']].values
x = convert(x)

y = labels(df[['income']].values)
print(len(x))
print(len(y))

32561
32561

## Train Test Split

In [136]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)
print(len(x_train))
print(len(x_test))

26048
6513

# DecisionTreeClassifier

In [143]:
t = time()
clf = DecisionTreeClassifier(criterion='entropy')
print(clf)
clf.fit(x_train,y_train)
print('Train Time DTC = ',(time()-t))
pre = clf.predict(x_test)
print(pre)
print('Accuracy = ',clf.score(x_test,y_test))

metric(y_test,pre)
print('Time DTC = ',(time()-t))

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')
Train Time DTC =  0.2586345672607422
[0 0 0 ... 1 0 1]
Accuracy =  0.7518808536772609
Precision score =  0.7544638840754277
Recall score =  0.7518808536772609
f1-score =  0.7531338478519829
Time DTC =  0.3197345733642578

# SVC

In [ ]:
t = time()
clf = SVC(kernel='linear',C=0.1)
print(clf)
clf.fit(x_train,y_train.ravel())
print('Train Time SVC = ',(time()-t))
pre = clf.predict(x_test)
print(pre)
print('Accuracy = ',clf.score(x_test,y_test))

metric(y_test,pre)
print('Time SVC = ',(time()-t))